<html xmlns:th="http://www.thymeLeaf.org">
<html>
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div th:replace="/layout/fragments/nav.html :: nav"></div>
<div class="text-center" style="flex: 1; height:10vh;">
    <p th:text="'정확률: '+${tomato.prob}+'%'" style="font-size: 3rem; margin-top: 3rem"><b>정확률</b></p>
</div>
<div style="margin: 1rem 8rem 1rem 8rem; border:2px solid green; height: 35vh">
    <img th:src="@{${tomato.src}}" class="rounded float-start" alt="disease"
         style="float: left; margin: 0.5rem 2rem 0.5rem 1rem">
    <p style="font-size: 2.5rem" th:text="'질병명: '+${tomato.d_name}">질병명</p>
    <p style="font-size: 2rem" th:text="'해결법: '+${tomato.solution}">내용</p>
</div>
<div th:replace="/layout/fragments/footer.html :: footer"></div>
</body>
